body {
  font-family: Impact, sans-serif;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

#text {
  background: linear-gradient(45deg, #00BF63, #248f5d, rgb(0, 253, 144));
  background-size: 300% 300%;
  animation: gradient 7s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


header {
  background-image: 
  url(https://catherineasquithgallery.com/uploads/posts/2021-03/1614641527_36-p-fon-gta-dlya-fotoshopa-37.jpg);
  max-width: 100%;
  background-attachment: fixed;
}


header h1 {
  margin: 0;
  margin-left: 35;
  color:transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #00BF63, #03763E);
}

img {
  display: block;
  }

.list {
  background-color: rgba(0,0,0,0.4);
  max-width: 100%;
  display: flex;
  padding: 30px 30px;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 20px;
  color:transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #00BF63, #03763E);
  margin: 0;
}

main {
  padding: 100px;
}

.car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.car-list article {
  margin-bottom: 50px;
  width: calc(0 - 200px);
}

.car-list article img {
  width: 100%;
  height: auto;
}

.car-list article h3 {
  margin-top: 50px;
  margin-bottom: 10px;
}

.car-list article p {
  margin: 0;
}

.car-list article a {
  margin: 0;
  color: #03763E;
}

section {
	margin-bottom: 100px;
}

footer {
	background-color: #333;
	color: #00BF63;
	padding: 15px;
	text-align: center;
}

